<!doctype html>
{% autoescape true %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <p id="demo"></p>

    <script type="text/javascript">
    var g = {{ streams|safe }}
    </script>

</head>
<body>
    <h1>Connex.us</h1>
    <br>
    <div>
        <a href="/management">Manage</a> | <a href="/create_stream">Create</a> |
        <a href="/view_all">View</a> |
        <a href="/search_streams">Search</a> |
        <a href="/trending">Trending</a> |
        Social
    </div>
    <br>
    <div>
    <form action="/social" method="post">
        Search Streams:
        <input id="autocomplete" type="text" name="query_string" value="Name">
        <input type="submit">
    </form>
    </div>
</body>

<script type="text/javascript">
var source =[""];
$( "#autocomplete" ).autocomplete({
    source: source.concat(g)
});
</script>
 
</body>
</html>
{% endautoescape %}