<!DOCTYPE html>
{% autoescape true %}


<html>
    <head>
        <link href="../assets/css/lightbox.css" rel="stylesheet">

    </head>


  <body>
    <h2>Streams I own</h2>
{#    <ul class="list-inline">#}
    <ul class="example-image-link">
{#    {% for stream in my_streams %}#}
{#        <a href="/view_stream/?stream_name={{ stream.name }}" >{{ stream.name }}</a><br>#}
{#        <li>#}
{#            <font size = "4">{{ stream.name }}</font>#}
{#            <br>#}
{#			<a href="/view_stream/?stream_name={{ stream.name }}" title= {{ stream.name }}>#}
{#				<img src="{{ photo_urls[0] }}" />#}
{#			</a>#}
{#		</li>#}
{#    {% endfor %}#}


    {% for stream in my_streams %}
{#        <a href="/view_stream/?stream_name={{ stream.name }}" >{{ stream.name }}</a><br>#}
{#        <li>#}
         <div>
{#            <font size = "4">{{ stream.name }}</font>#}
{#            <br>#}

             <figure>
             <a href="/view_stream/?stream_name={{ stream.name }}" title= {{ stream.name }}>
                    <img HEIGHT="300" WIDTH="300" src="{{ photo_urls[0] }}" />
                    <figcaption>CALIFORNIA</figcaption>
             </a>
             <a href="/view_stream/?stream_name={{ stream.name }}" title= {{ stream.name }}>
				<img HEIGHT="300" WIDTH="300" src="{{ photo_urls[1] }}" />
			 </a>

             </figure>




{#            <font size = "4">{{ stream.name }}</font>#}
{#            <br>#}


        </div>

{#		</li>#}
    {% endfor %}
    </ul>

{#    <a href={{ photo_urls[0] }} data-lightbox="image-1" data-title="My caption">Image #1</a>#}

{#    <section class="wb-lbx lbx-gal">#}
{#	<h4>Image gallery</h4>#}
{#	<ul class="list-inline">#}
{#		<li>#}
{#			<a href= "/management" title="Image 1">#}
{#				<img src="{{ photo_urls[0] }}" alt="Image 1" />#}
{#			</a>#}
{#		</li>#}
{#	</ul>#}
</section>

    <script src="../assets/js/lightbox.js">
        lightbox.option({
          'maxWidth': 100,
          'maxHeight': 100
        })

    </script>


  </body>
</html>
{% endautoescape %}