<!DOCTYPE html>
{% autoescape true %}
<html>
    <body>
    <h1>Connex.us</h1>
    <br>
    <div>
        <a href="/management">Manage</a> | <a href="/create_stream">Create</a> |
        <a href="/view_all">View</a> |
        Search |
        <a href="/trending">Trending</a> |
        <a href="/social">Social</a>
    </div>
    <br>
    <div>
    <form action="/search_streams" method="post">
        Search Streams:
        <input type="text" name="query_string" value="Name">
        <input type="submit">
    </form>
    </div>
    <div>
        Results for {{ query_string }}:
        <ul>
        {% for stream in search_results %}
            <li><a href="/view_stream/?stream_name={{ stream.name }}" >{{ stream.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    </body>
</html>
{% endautoescape %}