<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
{#    <h1>View Streams</h1>#}
{#    <br>#}
{#    <div>#}
{#        <a href="/management">Manage</a> | <a href="/create_stream">Create</a> |#}
{#        View |#}
{#        <a href="/search_streams">Search</a> |#}
{#        <a href="/trending">Trending</a> |#}
{#        <a href="/social">Social</a>#}
{#    </div>#}
{#    <br>#}
    <h4>Streams I own:</h4>
    <ul>
    {% for stream in my_streams %}
        <a href="/view_stream/?stream_name={{ stream.name }}" >{{ stream.name }}</a><br>
    {% endfor %}
    </ul>
  </body>
</html>
{% endautoescape %}