{% extends "Base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-map/3.0-rc1/jquery.ui.map.js"></script>
<script type="text/javascript" src="/js/GeoSearch.js"></script>

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<script src="/js/dropzone.js"></script>
<link href="/css/dropzone.css" rel="stylesheet">

<!--Range Slider-->
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jQDateRangeSlider-min.js"></script>
<link href="/css/iThing-min.css" rel="stylesheet">


{% endblock %}

{% block body %}
        <h1>Welcome to {{ stream_name }}</h1>
        <div class="container">
        {% for photo_obj in photo_objs %}
             <a href="{{ photo_obj.url }}" data-lightbox="stream">
                     <img src="{{ photo_obj.url }}" class="img-thumbnail stream_img"
                          lat="{{ photo_obj.lat }}" lng="{{ photo_obj.long }}" date="{{ photo_obj.date }}"
                          style="height:100px;width:100px"/>
             </a>
        {% endfor %}
        </div>
        {% if owner %}
        <h2>Upload a Photo</h2>
        <form action="{{ upload_url }}" method="POST" class="dropzone" enctype="multipart/form-data"></form>
        {% else %}
        <h2>Subscribe</h2>
        <form action="/subscribe" method="POST">
            <input type="submit" name="submit" value="Subscribe to {{ stream_name }}">
        </form>
        {% endif %}
        <div id="dateSlider"></div>
        <br>
        <div id="map-canvas" style="width:70%;height:600px"></div>

{% endblock %}

{% block endScripts %}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link href="/css/lightbox.css" rel="stylesheet">
{% endblock %}